<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YourVibes activate account</title>
</head>
<body>
    <h1>Your account is activated</h1>
    <p>After reviewing your account activity, we have decided to reopen your account.</p>
    <p>Activated account: {{.email}}</p>
</body>
</html>