<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YourVibes deactivate account</title>
</head>
<body>
    <h1>Your account has been deactivated</h1>
    <p>We have received several reports of activity on your account.
    After careful review, we have decided to suspend your account for violating our terms of use.</p>
    <p>Deactivated account: {{.email}}</p>
</body>
</html>
